!!!
%html
  %head
    %title Humblebrag
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render 'layouts/header' 
  %body
    .container
      - flash.each do |name, msg|
        = content_tag(:div, msg, class: "alert alert-#{name}")
      = yield
      = render 'layouts/footer' 